#SALES DATA - DATA CLEANING

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [4]:
df = pd.read_csv('/content/Superstore.csv', encoding='latin1')

In [6]:
print(df.shape)
print(df.info())

(9994, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

In [5]:
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
1       2  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
2       3  CA-2016-138688  06-12-2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [7]:
df.isnull().sum() # ZERO FOR EVERYTGING AS NO NULL VALUES

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## FOR DATA CLEANING - NUMERIC DATA : CHECK FOR NEGATIVES , ZEROS , OUTLIERS , ANOMLIES

## DATA CONSISTENCY : SHIP DATE SHOULD BE AFTER ORDER DATE , SPACING ISSUES , INVALID POSTAL CODES (HERE)

#-IF MISSING VALUES PRESENT- Handle Missing Data
## Example: drop rows with any missing values
df = df.dropna() ......dropna(axis=1) -  COLUMNS NOT RECOMMENDED IF IMP VALUES R PRESENT

Updated_df = df.dropna(axis=0) - ROWS ARE DELETED

##Or you can fill missing data: IMPUTATIONS - MEAN , MEDIAN , MODE
Updated_df = Updated_df['columnname'].fillna(df['name'].mean())


df['Sales'] = df['Sales'].fillna(0)

#-Fix Data Types (especially dates)

In [ ]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [8]:

# Convert to datetime (handles mixed formats automatically)
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='mixed')

# Convert to YYYY-MM-DD string format
df['Order Date'] = df['Order Date'].dt.strftime('%Y-%m-%d')
df['Ship Date'] = df['Ship Date'].dt.strftime('%Y-%m-%d')

In [9]:
df['Order Date'].head(50)
#df['Order Date'].isnull().sum() - TO COUNT NULL VALUES IF ANY

0     2016-11-08
1     2016-11-08
2     2016-06-12
3     2015-10-11
4     2015-10-11
5     2014-06-09
6     2014-06-09
7     2014-06-09
8     2014-06-09
9     2014-06-09
10    2014-06-09
11    2014-06-09
12    2017-04-15
13    2016-12-05
14    2015-11-22
15    2015-11-22
16    2014-11-11
17    2014-05-13
18    2014-08-27
19    2014-08-27
20    2014-08-27
21    2016-12-09
22    2016-12-09
23    2017-07-16
24    2015-09-25
25    2016-01-16
26    2016-01-16
27    2015-09-17
28    2015-09-17
29    2015-09-17
30    2015-09-17
31    2015-09-17
32    2015-09-17
33    2015-09-17
34    2017-10-19
35    2016-12-08
36    2016-12-08
37    2015-12-27
38    2015-12-27
39    2015-12-27
40    2015-12-27
41    2017-09-10
42    2016-07-17
43    2017-09-19
44    2016-03-11
45    2016-03-11
46    2014-10-20
47    2016-06-20
48    2016-06-20
49    2015-04-18
Name: Order Date, dtype: object

In [ ]:
df['Ship Date'].head(15)

0     2016-11-11
1     2016-11-11
2     2016-06-16
3     2015-10-18
4     2015-10-18
5     2014-06-14
6     2014-06-14
7     2014-06-14
8     2014-06-14
9     2014-06-14
10    2014-06-14
11    2014-06-14
12    2017-04-20
13    2016-12-10
14    2015-11-26
Name: Ship Date, dtype: object

In [11]:
# Duplicate Rows
duplicates = df.duplicated().sum()
print(duplicates)

0

In [12]:
# Unique Values Check
print("UNIQUE VALUES (Categorical Columns):")
categorical_cols = ['Ship Mode', 'Segment', 'Country', 'Region', 'Category', 'Sub-Category']
for col in categorical_cols:
    print(f"{col}: {df[col].nunique()} unique values")
    print(f"  Values: {df[col].unique().tolist()}")
    print()

UNIQUE VALUES (Categorical Columns):
Ship Mode: 4 unique values
  Values: ['Second Class', 'Standard Class', 'First Class', 'Same Day']

Segment: 3 unique values
  Values: ['Consumer', 'Corporate', 'Home Office']

Country: 1 unique values
  Values: ['United States']

Region: 4 unique values
  Values: ['South', 'West', 'Central', 'East']

Category: 3 unique values
  Values: ['Furniture', 'Office Supplies', 'Technology']

Sub-Category: 17 unique values
  Values: ['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage', 'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper', 'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines', 'Copiers']

In [21]:
# Checking numerical columns for anomalies

numerical_cols = ['Sales', 'Quantity', 'Discount', 'Profit']

for col in numerical_cols:
    print(f"\n{col.upper()}:")
    print(df[col].describe())

    # Check for negative values
    if col in ['Sales', 'Quantity']:
        negatives = (df[col] < 0).sum()
        if negatives > 0:
            print(f"  WARNING: {negatives} negative values found!")

    # Check for zeros
    zeros = (df[col] == 0).sum()
    print(f"Zero values: {zeros} ({zeros/len(df)*100:.2f}%)")

SALES:
count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Sales, dtype: float64
Zero values: 0 (0.00%)

QUANTITY:
count    9994.000000
mean        3.789574
std         2.225110
min         1.000000
25%         2.000000
50%         3.000000
75%         5.000000
max        14.000000
Name: Quantity, dtype: float64
Zero values: 0 (0.00%)

DISCOUNT:
count    9994.000000
mean        0.156203
std         0.206452
min         0.000000
25%         0.000000
50%         0.200000
75%         0.200000
max         0.800000
Name: Discount, dtype: float64
Zero values: 4798 (48.01%)

PROFIT:
count    9994.000000
mean       28.656896
std       234.260108
min     -6599.978000
25%         1.728750
50%         8.666500
75%        29.364000
max      8399.976000
Name: Profit, dtype: float64
Zero values: 65 (0.65%)

In [20]:

# Data Consistency Checks
# Check if Ship Date is after Order Date
df_temp = df.copy()
df_temp['Order Date'] = pd.to_datetime(df_temp['Order Date'], format='mixed')
df_temp['Ship Date'] = pd.to_datetime(df_temp['Ship Date'], format='mixed')

invalid_dates = (df_temp['Ship Date'] < df_temp['Order Date']).sum()
print(f"\nShip dates before order dates: {invalid_dates}")

Ship dates before order dates: 0

In [ ]:
# Check for leading/trailing spaces
text_cols = ['Customer Name', 'City', 'State', 'Product Name']
for col in text_cols:
    spaces = (df[col].str.strip() != df[col]).sum()
    if spaces > 0:
        print(f"{col}: {spaces} entries with leading/trailing spaces")
    else:
        print(f"{col}: No spacing issues")

Customer Name: No spacing issues
City: No spacing issues
State: No spacing issues
Product Name: 16 entries with leading/trailing spaces

## CREATING CLEANED DATASET


Dates standardized to YYYY-MM-DD format

Product names trimmed (16 entries fixed)

Added 7 new derived columns:
  - Shipping_Days
  - Order_Year, Order_Month, Order_Quarter
  - Order_Day_of_Week")
  - Profit_Margin (%)
  - Is_Profitable (boolean)

In [15]:
# Creating cleaned dataset

df_cleaned = df.copy()

# Fix dates by converting to datetime objects
df_cleaned['Order Date'] = pd.to_datetime(df_cleaned['Order Date'], format='mixed')
df_cleaned['Ship Date'] = pd.to_datetime(df_cleaned['Ship Date'], format='mixed')

#  Strip whitespace from Product Name
df_cleaned['Product Name'] = df_cleaned['Product Name'].str.strip()

# Add useful derived columns (these require datetime objects)
df_cleaned['Shipping_Days'] = (df_cleaned['Ship Date'] - df_cleaned['Order Date']).dt.days
df_cleaned['Order_Year'] = df_cleaned['Order Date'].dt.year
df_cleaned['Order_Month'] = df_cleaned['Order Date'].dt.month
df_cleaned['Order_Quarter'] = df_cleaned['Order Date'].dt.quarter
df_cleaned['Order_Day_of_Week'] = df_cleaned['Order Date'].dt.day_name()
df_cleaned['Profit_Margin'] = (df_cleaned['Profit'] / df_cleaned['Sales']) * 100
df_cleaned['Is_Profitable'] = df_cleaned['Profit'] > 0

# Convert dates back to string for storage
df_cleaned['Order Date'] = df_cleaned['Order Date'].dt.strftime('%Y-%m-%d')
df_cleaned['Ship Date'] = df_cleaned['Ship Date'].dt.strftime('%Y-%m-%d')

In [17]:
df_cleaned.shape

(9994, 28)

In [ ]:
df_cleaned.to_csv('/content/Superstore_FullyCleaned.csv.gz', index=False, compression='gzip')

Cleaned dataset saved!

In [22]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row ID             9994 non-null   int64
 1   Order ID           9994 non-null   object
 2   Order Date         9994 non-null   object
 3   Ship Date          9994 non-null   object
 4   Ship Mode          9994 non-null   object
 5   Customer ID        9994 non-null   object
 6   Customer Name      9994 non-null   object
 7   Segment            9994 non-null   object
 8   Country            9994 non-null   object
 9   City               9994 non-null   object
 10  State              9994 non-null   object
 11  Postal Code        9994 non-null   int64
 12  Region             9994 non-null   object
 13  Product ID         9994 non-null   object
 14  Category           9994 non-null   object
 15  Sub-Category       9994 non-null   object
 16  Product Name       9994 non-null   object
 17  Sales              9994 non-null   float64
 18  Quantity           9994 non-null   int64
 19  Discount           9994 non-null   float64
 20  Profit             9994 non-null   float64
 21  Shipping_Days      9994 non-null   int64
 22  Order_Year         9994 non-null   int32
 23  Order_Month        9994 non-null   int32
 24  Order_Quarter      9994 non-null   int32
 25  Order_Day_of_Week  9994 non-null   object
 26  Profit_Margin      9994 non-null   float64
 27  Is_Profitable      9994 non-null   bool
dtypes: bool(1), float64(4), int32(3), int64(4), object(16)
memory usage: 2.0+ MB

In [ ]:
df_cleaned.describe().round(2)

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping_Days,Order_Year,Order_Month,Order_Quarter,Profit_Margin
count,9994.00,9994.00,9994.00,9994.00,9994.00,9994.00,9994.00,9994.00,9994.00,9994.00,9994.00
mean,4997.50,55190.38,229.86,3.79,0.16,28.66,3.96,2015.72,7.81,2.88,12.03
std,2885.16,32063.69,623.25,2.23,0.21,234.26,1.75,1.12,3.28,1.06,46.68
min,1.00,1040.00,0.44,1.00,0.00,-6599.98,0.00,2014.00,1.00,1.00,-275.00
25%,2499.25,23223.00,17.28,2.00,0.00,1.73,3.00,2015.00,5.00,2.00,7.50
50%,4997.50,56430.50,54.49,3.00,0.20,8.67,4.00,2016.00,9.00,3.00,27.00
75%,7495.75,90008.00,209.94,5.00,0.20,29.36,5.00,2017.00,11.00,4.00,36.25
max,9994.00,99301.00,22638.48,14.00,0.80,8399.98,7.00,2017.00,12.00,4.00,50.00